@import "../common";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

//.selected {
//  &::after {
//    z-index: -1;
//  }
//}